@use "common-elements";

* {
	box-sizing: border-box;
}

table {
	border-collapse: collapse;
}

a,
a:visited {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

.centered {
	text-align: center;
}

.left-aligned {
	text-align: left;
}

.italicized {
	font-style: italic;
}

.column-container {
	.column {
		display: inline-block;
		vertical-align: top;
		margin-right: 1rem;
	}
}

.flex-column-container {
	display: flex;
	flex-wrap: wrap;

	.flex-column {
		flex-shrink: 0;
		flex-grow: 1;

		p,
		li {
			max-width: 30em;
			min-width: 5em;
		}
	}
}

// .column-container {
// 	display: flex;
// 	flex-wrap: wrap;

// 	.column {
// 		flex: 1 1;
// 		vertical-align: top;
// 		min-width: 300px;
// 		overflow-x: hidden;
// 		padding: 0 16px;
// 	}
// }

.link-list {
	list-style-type: none;
	padding-inline-start: 0.5em;
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}

.table-container {
	.table-column {
		display: inline-block;
		vertical-align: top;
	}

	.table-column-50 {
		display: inline-block;
		vertical-align: top;
		width: 50%;
	}

	.table-column-45 {
		display: inline-block;
		vertical-align: top;
		width: 45%;
	}
}

.smart-table-footer {
	text-align: center;
}

.power {
	font-weight: bold;
	font-style: italic;
}

.clearfix {
	&::after {
		content: "";
		clear: both;
		display: table;
	}

	> ul,
	> ol {
		overflow: hidden;
	}
}

ul,
ol {
	&.power-list {
		li:not(:last-child) {
			padding-bottom: 0.5rem;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		padding: 0;
	}
}
