$stars-background-color: lighten(black, 10%);
$stars-link-color: lighten(desaturate(blue, 50%), 15%);
$stars-input-background-light: lighten($stars-background-color, 5%);
$stars-input-background-dark: darken($stars-background-color, 2.5%);

// input-button-background: rgb(30, 30, 30),
// 		input-button-border-color: rgb(45, 45, 45),
// 		button-hovered-background: rgb(46, 46, 46),

$themes: (
	theme-stars: (
		content-color: lighten(desaturate(yellow, 85%), 10%),
		// content-color: darken(desaturate(yellow, 75%), 7.5%),
		link-color: $stars-link-color,
		content-background-color: $stars-background-color,
		example-background-color: rgb(30, 30, 30),
		input-button-background: $stars-input-background-light,
		input-button-border-color: lighten($stars-background-color, 10%),
		button-hovered-background: $stars-input-background-dark,
		table-header-background-color: lighten($stars-background-color, 15%),
		table-odd-row-background-color: lighten($stars-background-color, 5%),
		table-even-row-background-color: darken($stars-background-color, 2.5%),
		table-inner-border-color: lighten($stars-background-color, 15%),
		previous-date-color: darken(desaturate(red, 25%), 15%),
		current-date-color: rgb(194, 194, 0),
		future-date-color: rgb(0, 189, 0),
		birthday-display-color: saturate($stars-link-color, 25%),
		campaign-bar-background-color: $stars-input-background-light,
		campaign-bar-background-color-hover: $stars-input-background-dark,
		body-background: (
			image: url("../../images/main-background.jpg"),
			position: center,
			repeat: no-repeat,
			size: cover,
		),
	),
	theme-worlds: (
		content-color: lighten(desaturate(yellow, 85%), 10%),
		link-color: $stars-link-color,
		content-background-color: $stars-background-color,
		example-background-color: rgb(30, 30, 30),
		input-button-background: $stars-input-background-light,
		input-button-border-color: lighten($stars-background-color, 10%),
		button-hovered-background: $stars-input-background-dark,
		table-header-background-color: lighten($stars-background-color, 15%),
		table-odd-row-background-color: lighten($stars-background-color, 5%),
		table-even-row-background-color: darken($stars-background-color, 2.5%),
		table-inner-border-color: lighten($stars-background-color, 15%),
		previous-date-color: darken(desaturate(red, 25%), 15%),
		current-date-color: rgb(194, 194, 0),
		future-date-color: rgb(0, 189, 0),
		birthday-display-color: saturate($stars-link-color, 25%),
		campaign-bar-background-color: $stars-input-background-light,
		campaign-bar-background-color-hover: $stars-input-background-dark,
		body-background: (
			image: url("../../images/main-background.jpg"),
			position: center,
			repeat: no-repeat,
			size: cover,
		),
	),
	theme-test: (
		content-color: rgb(170, 170, 255),
		link-color: #6e6ee0,
		content-background-color: rgb(10, 10, 10),
		example-background-color: rgb(30, 30, 30),
		input-button-background: rgb(30, 30, 30),
		input-button-border-color: rgb(45, 45, 45),
		button-hovered-background: rgb(46, 46, 46),
		table-header-background-color: rgb(80, 80, 80),
		table-odd-row-background-color: rgb(40, 40, 40),
		table-even-row-background-color: rgb(20, 20, 20),
		table-inner-border-color: rgb(120, 120, 120),
		previous-date-color: rgb(184, 0, 0),
		current-date-color: rgb(194, 194, 0),
		future-date-color: rgb(0, 189, 0),
		birthday-display-color: darkred,
		campaign-bar-background-color: darken(yellow, 25%),
		campaign-bar-background-color-hover: darken(yellow, 35%),
		body-background: (
			image: url("../../images/main-background.jpg"),
			position: center,
			repeat: no-repeat,
			size: cover,
		),
	),
);
