$stars-background-color: lighten(black, 10%);
$stars-link-color: lighten(desaturate(blue, 50%), 15%);
$stars-input-background-light: lighten($stars-background-color, 5%);
$stars-input-background-dark: darken($stars-background-color, 2.5%);
$stars-content-color: lighten(desaturate(yellow, 85%), 10%);
$stars-header-color: lighten($stars-content-color, 10%);

$themes: (
	theme-stars: (
		content-color: $stars-content-color,
		header-color: $stars-header-color,
		link-color: $stars-link-color,
		content-background-color: $stars-background-color,
		example-background-color: lighten($stars-background-color, 5%),
		input-button-background: $stars-input-background-light,
		input-button-border-color: lighten($stars-background-color, 10%),
		button-hovered-background: $stars-input-background-dark,
		table-header-background-color: lighten($stars-background-color, 15%),
		table-odd-row-background-color: lighten($stars-background-color, 5%),
		table-even-row-background-color: darken($stars-background-color, 2.5%),
		table-inner-border-color: lighten($stars-background-color, 15%),
		previous-date-color: darken(desaturate(red, 25%), 15%),
		current-date-color: rgb(194, 194, 0),
		future-date-color: rgb(0, 189, 0),
		birthday-display-color: saturate($stars-link-color, 25%),
		campaign-bar-background-color: $stars-input-background-light,
		campaign-bar-background-color-hover: $stars-input-background-dark,
		body-background: (
			image: url("../../images/main-background.jpg"),
			position: center,
			repeat: no-repeat,
			size: cover,
		),
	),
	theme-worlds: (
		content-color: $stars-content-color,
		header-color: $stars-header-color,
		link-color: $stars-link-color,
		content-background-color: $stars-background-color,
		example-background-color: lighten($stars-background-color, 30%),
		input-button-background: $stars-input-background-light,
		input-button-border-color: lighten($stars-background-color, 10%),
		button-hovered-background: $stars-input-background-dark,
		table-header-background-color: lighten($stars-background-color, 15%),
		table-odd-row-background-color: lighten($stars-background-color, 5%),
		table-even-row-background-color: darken($stars-background-color, 2.5%),
		table-inner-border-color: lighten($stars-background-color, 15%),
		previous-date-color: darken(desaturate(red, 25%), 15%),
		current-date-color: rgb(194, 194, 0),
		future-date-color: rgb(0, 189, 0),
		birthday-display-color: saturate($stars-link-color, 25%),
		campaign-bar-background-color: $stars-input-background-light,
		campaign-bar-background-color-hover: $stars-input-background-dark,
		body-background: (
			image: url("../../images/main-background.jpg"),
			position: center,
			repeat: no-repeat,
			size: cover,
		),
	),
	theme-test: (
		content-color: $stars-content-color,
		header-color: $stars-header-color,
		link-color: $stars-link-color,
		content-background-color: $stars-background-color,
		example-background-color: rgb(30, 30, 30),
		input-button-background: $stars-input-background-light,
		input-button-border-color: lighten($stars-background-color, 10%),
		button-hovered-background: $stars-input-background-dark,
		table-header-background-color: lighten($stars-background-color, 15%),
		table-odd-row-background-color: lighten($stars-background-color, 5%),
		table-even-row-background-color: darken($stars-background-color, 2.5%),
		table-inner-border-color: lighten($stars-background-color, 15%),
		previous-date-color: darken(desaturate(red, 25%), 15%),
		current-date-color: rgb(194, 194, 0),
		future-date-color: rgb(0, 189, 0),
		birthday-display-color: saturate($stars-link-color, 25%),
		campaign-bar-background-color: $stars-input-background-light,
		campaign-bar-background-color-hover: $stars-input-background-dark,
		body-background: (
			image: url("../../images/main-background.jpg"),
			position: center,
			repeat: no-repeat,
			size: cover,
		),
	),
);
