@use "colors";
@use "common";

body {
	height: 100vh;
	width: 100vw;

	margin: 0;
	padding: 0;

	background-image: url("../../images/main-background.jpg");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 20px 0 5px 0;
}

h4 {
	font-style: italic;
}

b {
	font-size: 1.1em;
}

th,
td {
	border: 1px solid colors.$content-color;
	padding: 0 0.5rem;

	// &:not(:last-child) {
	// 	padding-right: 0.5rem;
	// }
}

p {
	max-width: 60em;
	min-width: 25em;
}

#content-spacer {
	height: 100%;
	width: 100%;

	padding: 50px;
}

#content {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;

	padding: 20px;
	background-color: colors.$content-background-color;
	border-radius: 20px;

	#header,
	#footer {
		width: 100%;
		flex-grow: 0;
		flex-shrink: 0;
	}

	#page-area {
		width: 100%;
		padding-right: 1rem;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 0;

		overflow: auto;
	}
}

#header {
	border-bottom: 1px solid colors.$content-color;
}

#footer {
	border-top: 1px solid colors.$content-color;
}

#campaigns-bar {
	a {
		color: colors.$content-color;
		display: inline-block;
		background-color: rgb(50, 50, 50);
		border-radius: 5px;
		margin-right: 0.5rem;
		margin-bottom: 0.5rem;

		padding: 0.5rem;

		&:hover {
			background-color: rgb(20, 20, 20);
			text-decoration: underline;
			cursor: pointer;
		}
	}
}

.ap-dir-display-container {
	margin-bottom: 0.5rem;

	:not(:last-child) {
		margin-right: 0.5rem;
	}
}

.header-container {
	display: flex;
	width: 100%;

	.header-content {
		flex-grow: 1;
		flex-shrink: 0;
	}

	.header-auth-content {
		flex-grow: 0;
		flex-shrink: 0;
	}
}

.auth-display-container {
	text-align: right;

	.auth-display-label {
		margin-right: 0.5rem;
	}

	&.auth-display-upper-container {
		margin-bottom: 0.25rem;
	}
}

ap-auth-container,
ap-auth-container * {
	font-style: italic;
}

ap-stat-block * {
	display: none;
}
